nav {
  background-color: #1c7c54;
}

.logo img {
  margin-left: 20px;
}

.collapse navbar-collapse img {
  margin-left: 500px;
}

h2{
  color:#389B72;
  position: absolute;
  top: 20; left: 80px;
}

.sured1 img{
  position: absolute;
  top: 150px; left: 250px;
}

.henshu1 img{
  position: absolute;
  top:160; left: 1010px;
}

.prof1 img{
  position: absolute;
  top:160; left: 260px;
}

.tagu1 img{
  position: absolute;
  top: 270px; left: 250px;
}

.tagu1 h4{
  position: absolute;
  top: 275px; left: 550px;
}

.sured2 img{
  position: absolute;
  top: 330px; left: 250px;
}

.henshu2 img{
  position: absolute;
  top: 340; left: 1010px;
}

.prof2 img{
  position: absolute;
  top: 340; left: 260px;
}

.tagu2 img{
  position: absolute;
  top: 450px; left: 250px;
}

.tagu2 h4{
  position: absolute;
  top: 455px; left: 550px;
}

.sured3 img{
  position: absolute;
  top: 510px; left: 250px;
}

.henshu3 img{
  position: absolute;
  top:520; left: 1010px;
}

.prof3 img{
  position: absolute;
  top: 520; left: 260px;
}

.tagu3 img{
  position: absolute;
  top: 630px; left: 250px;
}

.tagu3 h4{
  position: absolute;
  top: 635px; left: 550px;
}

