nav {
  background-color: #1c7c54;
}

.logo img {
  margin-left: 20px;
}

.collapse navbar-collapse img {
  margin-left: 500px;
}

h2{
  color:#389B72;
  position: absolute;
  top: 20; left: 110px;
}

.sured1 img{
  position: absolute;
  top: 90px; left: 50px;
}

.henshu1 img{
  position: absolute;
  top:100; left: 810px;
}

.prof1 img{
  position: absolute;
  top:100; left: 60px;
}

.tagu1 img{
  position: absolute;
  top: 210px; left: 50px;
}

.tagu1 h4{
  position: absolute;
  top: 215px; left: 350px;
  color: white;
}

.sured2 img{
  position: absolute;
  top: 270px; left: 50px;
}

.henshu2 img{
  position: absolute;
  top: 280px; left: 810px;
}

.prof2 img{
  position: absolute;
  top: 280px; left: 60px;
}

.tagu2 img{
  position: absolute;
  top: 390px; left: 50px;
}

.tagu2 h4{
  position: absolute;
  top: 395px; left: 350px;
  color: white;
}

.sured3 img{
  position: absolute;
  top: 450px; left: 50px;
}

.henshu3 img{
  position: absolute;
  top:460; left: 810px;
}

.prof3 img{
  position: absolute;
  top: 460; left: 60px;
}

.tagu3 img{
  position: absolute;
  top: 570px; left: 50px;
}

.tagu3 h4{
  position: absolute;
  top: 575px; left: 350px;
  color: white;
}

