nav {
    background-color: #1c7c54;
}

.logo img {
    margin-left: 20px;
}

.collapse navbar-collapse img {
    margin-left: 500px;
}

.page-title {
    color: #389b72;
}

.board {
    background-color: #def4c6;
}

.tag {
    background-color: #389b72;
    text-align: center;
    color: #fcfcfc;
}

.tag:hover {
    background-color: #215c43;
    text-align: center;
    color: #fcfcfc;
}

.sured1 img {
    position: absolute;
    top: 90px;
    left: 50px;
}

.henshu1 img {
    position: absolute;
    top: 100;
    left: 850px;
}

.prof1 img {
    position: absolute;
    top: 100;
    left: 60px;
}

.tagu1 img {
    position: absolute;
    top: 210px;
    left: 50px;
}
