.center{
    text-align:center;
}
.box{
    width:40%;
    display: inline-block;
    border-radius: 10px;
    border:solid 1px #111111;
    background-color:#ffffff;
}
.mart{
    margin-top:15%;
}

.btn1 {
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 18pt;        
    text-align    : center;      
    cursor        : pointer;     
    padding       : 12px 12px;   
    background    : #1b512d !important;     
    color         : #ffffff !important;     
    line-height   : 1em;         
    opacity       : 0.9;         
    transition    : .3s;         
  }
  .btn1:hover {
    opacity       : 1;           
  }
  .btns{
    display: flex;
    justify-content:space-around;
  }
  .left{
    text-align : left;
  }
  .btn2 {
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 18pt;        
    text-align    : center;      
    cursor        : pointer;     
    padding       : 12px 12px;   
    background    : #B1CF5F !important;     
    color         : #ffffff !important;     
    line-height   : 1em;         
    opacity       : 0.9;         
    transition    : .3s;         
  }
  .btn2:hover {
    opacity       : 1;           
  }